/********** Template CSS **********/
:root {
  --primary: #06bbcc;
  --light: #f0fbfc;
  --dark: #181d38;
  --gren: linear-gradient(45deg, rgb(0, 95, 59), green);
  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsla(30, 3%, 34%, 1);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);

  /**
     * GRADIENT COLOR
     */

  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--smoky-black-3) 33.33% 50%,
    transparent 66.66% 75%
  );
  --gradient-1: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.9),
    hsla(0, 0%, 0%, 0.7),
    transparent
  );

  /**
     * TYPOGRAPHY
     */

  /* font-family */
  --fontFamily-forum: "Forum", cursive;
  --fontFamily-dm_sans: "DM Sans", sans-serif;

  /* font-size */
  --fontSize-display-1: calc(1.3rem + 6.7vw);
  --fontSize-headline-1: calc(2rem + 2.5vw);
  --fontSize-headline-2: calc(1.3rem + 2.4vw);
  --fontSize-title-1: calc(1.6rem + 1.2vw);
  --fontSize-title-2: 2.2rem;
  --fontSize-title-3: 2.1rem;
  --fontSize-title-4: calc(1.6rem + 1.2vw);
  --fontSize-body-1: 2.4rem;
  --fontSize-body-2: 1.6rem;
  --fontSize-body-3: 1.8rem;
  --fontSize-body-4: 1.6rem;
  --fontSize-label-1: 1.4rem;
  --fontSize-label-2: 1.2rem;

  /* font-weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /**
     * SPACING
     */

  --section-space: 70px;

  /**
     * SHADOW
     */

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /**
     * BORDER RADIUS
     */

  --radius-24: 24px;
  --radius-circle: 50%;

  /**
     * TRANSITION
     */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}

.body {
  scroll-behavior: smooth;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn.btn-primary .btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  vertical-align: middle;
  margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(153, 152, 152);
  font-weight: 500;
  font-size: 0.85rem;
}

.navbar-light.sticky-top {
  top: -100px;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .dropdown-menu.fade-down {
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

.navbar .dropdown-menu .dropdown-item {
  color: rgb(153, 152, 152);
  font-weight: 400;
}

/*** Header carousel ***/
@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
    url(../img/carousel-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-inner {
  background: rgba(15, 23, 43, 0.7);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/*** Service ***/
.service-item {
  background: var(--light);
  transition: 0.5s;
}

.service-item:hover {
  margin-top: -10px;
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Categories & Courses ***/
.category img,
.course-item img {
  transition: 0.5s;
}

.category a:hover img,
.course-item:hover img {
  transform: scale(1.1);
}

.mb-0 {
  color: #020202;
  font-size: 1.1rem;
}

.mb-4 {
  color: rgb(128, 128, 128);
  font-size: 0.9rem;
}

.mb-20 {
  color: rgb(128, 128, 128);
  font-size: 1.3rem;
}

.mb-20 span {
  color: #020202;
}

.mb-5 span {
  color: var(--primary);
}

.mb-19 {
  padding: 0rem;
  margin: 1rem;
  font-size: 1.1rem;
}

.mb-21 {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.mb-22 {
  font-size: 1.3rem;
  font-weight: 500;
}

/*Team*/
.team1__ {
  background-color: #ffffff;
  padding: 1rem;
}

.team1 h2 {
  text-align: center;
  color: var(--primary);
  font-size: 1.3rem;
}

.team1 p {
  text-align: center;
  margin: 2rem;
  font-size: 1.5rem;
  color: var(--quick-silver);
}

.team1__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.team1__member-image {
  width: 90%;
  display: flex;
  align-items: center;
}

.team1__member-image img {
  width: 90%;
  align-items: center;
  display: flex;
}

.team1__member-info {
  text-align: center;
  margin-top: 3rem;
}

.team1__member-info p {
  font-size: 1rem;
  color: #020202;
}

.team1__member-info h4 {
  color: #000;
  font-size: 3rem;
}

/*TOEFL*/
.team {
  background-color: green;
}

.team___container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.team___member-info {
  text-align: center;
}

.team___member-info p {
  font-size: 1rem;
  color: #020202;
  text-align: center;
}

.team___member-info h5 {
  color: #000;
  font-size: 2rem;
  text-align: center;
}

.team_ {
  background-color: khaki;
}

.team___member-image img {
  width: 100%;
  align-items: center;
  display: flex;
}

/*** Team ***/
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
    width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
  transition: 0.5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
  color: #ffffff !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #cccccc;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}

/*article*/
.articles {
  background-color: #fff;
}

.article h2 {
  font-size: 1.4rem;
  text-align: center;
}

.article h1 {
  font-size: 1.1rem;
  text-align: left;
}

.article p {
  font-size: 1rem;
  color: rgb(85, 85, 85);
}

.article h3 {
  text-align: left;
  font-size: 1.3rem;
}

/*TOEFLS*/
.toefls {
  background-color: #fff;
}

.toefls h2 {
  text-align: center;
  padding: 1rem;
}

.toefl {
  padding: 1rem;
}

.toefl h4 {
  font-size: 1.2rem;
  color: rgb(85, 85, 85);
}

/*toefl2*/
.toefls__ {
  background-color: #fff;
  padding: 3rem;
}

.toefls__ h2 {
  text-align: center;
}

.toefl__ h4 {
  font-size: 0.95rem;
  color: rgb(85, 85, 85);
}
/*faqs*/
.faqs {
  background-color: white;
}

.faqs h2 {
  text-align: center;
  padding: 3rem;
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.faq {
  padding: 0.8rem;
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  cursor: pointer;
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
  color: #020202;
}

.faq__icon {
  align-self: flex-start;
  font-size: 2rem;
  color: #020202;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
  color: #020202;
}

.faq.open p {
  display: block;
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/*form*/

* {
  font-family: Arial, sans-serif;
}
form {
  margin: 15px 5px;
  width: 500px;
  font-size: 16px;
}
form h1 {
  text-align: center;
}
form label {
  display: block;
  margin-bottom: 5px;
}
form input,
form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  resize: vertical;
}
form button {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}
form button:hover {
  background: green;
}

/*achievements*/
.achievements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.achievements__card h3 {
  color: #000;
}

.achievements__card p {
  color: #000;
}

.achievements__card {
  background: transparent;
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}

.achievements__card:hover {
  background: blueviolet;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
}

.achievements__icon {
  background: var(--primary);
  padding: 0.6rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.achievements__card:nth-child(2) .achievements__icon {
  background: var(--gold-crayola);
}
.achievements__card:nth-child(3) .achievements__icon {
  background: yellowgreen;
}

.achievements__card p {
  margin-top: 0.5rem;
}
